button {
    background-color: transparent;
    border: none;
    outline: none;
}

/* ! Dropdown panel (NOT using now) */

.drpdown {
    display: inline-block;
    position: relative;
}

.drpdown-content {
    z-index: 1;
    min-width: 160px;
}

    .drpdown-content a {
        color: gray;
        display: block;
        text-decoration: none;
    }

/* ! END of dropdown panel */

/* * Comments */
/* * Comment Form */

.article-comments .comment-form {
    margin-top: 40px;
}

/* * Comments */
/* * Comments input */

.comment-form .comment-label {
    font-size: 18px;
    margin: 15px 0 0 0px;
    display: block;
}

.comment-form .comment-input {
    outline: transparent;
    display: inline-block;
    margin: 5px 8px 2px 0;
    padding: 7px 0px 7px 10px;
    width: 50%;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
    font-size: 15px;
    color: rgb(58, 58, 58);
}

    .comment-form .comment-input:focus {
        border: 1px solid burlywood;
        box-shadow: 0 0 0 3px rgb(255, 230, 197);
    }

.comment-form .comment-input-textarea {
    width: 100%;
    min-height: 100px;
    height: 100px;
    max-height: 200px;
}

/* ? Error's definitions */

.comment-form .comment-input.comment-input-error {
    border: 1px solid red;
}

    .comment-form .comment-input.comment-input-error:focus {
        border: 1px solid rgb(255, 113, 113);
        box-shadow: 0 0 0 3px rgb(255, 208, 208);
    }

.comment-form .comment-error-message {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: red;
    margin: 0;
    padding: 0;
}

/* * BUTTONS' template */

button.usual-button,
button.usual-button-reverse,
a.usual-button,
a.usual-button-reverse,
.usual-submit-button {
    display: block;
    background-color: burlywood;
    font-weight: 600;
    text-indent: 1.2;
    color: white;
    border-radius: 5px;
    padding: 12px 26px;
    margin: 30px 0;
    outline: none;
}

.update-comment-actions button.usual-button {
    display: inline-block;
    padding: 4px 12px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 8px;
    font-size: 18px;
}

button.usual-button-reverse,
a.usual-button-reverse {
    background-color: transparent;
    color: burlywood;
    border: 1px solid burlywood;
    /* padding: 4px 12px; */
}

.update-comment-actions button.usual-button-reverse,
.update-comment-actions a.usual-button-reverse {
    padding: 3px 12px;
}

form.update-comment-actions button {
    padding: 0;
}

.load-more-container .usual-button {
    padding: 6px 25px;
    margin: 0 12px;
    display: inline-block;
}

.usual-button.button-left {
    margin: 0 12px 0 auto;
}

.usual-button.button-right {
    margin: 0 auto 0 10px;
    padding: 6px 45px 6px 45px;
}

.one-button-container .usual-button {
    margin: 0 auto;
    padding: 6px 35px;
    text-align: center;
    /* max-width: 144px; */
    /* display: inline-block; */
}

/* ? Buttons' theme definitions */

.blog-theme-blue button.usual-button,
.blog-theme-blue .usual-submit-button,
.blog-theme-blue a.usual-button,
.blog-theme-blue a.usual-button-reverse {
    background-color: rgb(94, 143, 248);
}

.blog-theme-blue button.usual-button-reverse,
.blog-theme-blue a.usual-button-reverse {
    color: rgb(94, 143, 248);
    background-color: transparent;
    border: 1px solid rgb(94, 143, 248);
}

/* ? END */

/* * COMMENT ACTIONS buttons */

.blog-comment-meta .comment-change {
    margin: 0;
    padding: 0;
}

.comment-actions-container img {
    height: 25px;
    width: 25px;
}

.comment-change img {
    height: 20px;
    width: 20px;
}

.comment-change .comment-change-delete img {
    height: 16px;
    width: 16px;
    margin: 0;
    padding: 0;
}

.comment-actions-container button,
.comment-actions-container div {
    display: inline-block;
}

.comment-actions-container .heart-clicked {
    display: none;
}

.comment-actions-container button {
    outline: none;
}

/* * COMMENT ANSWER form */

.answer-form .usual-submit-button {
    background-color: transparent;
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
}

    .answer-form .usual-submit-button img {
        height: 30px;
        width: 30px;
    }

/* * ARTICLE USER ACTIONS
    * (like, bookmark, comments)    */

div.article-user-actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 210px;
    width: auto;
    max-width: 280px;
    color: gray;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.article-user-actions.text-roboto-style span {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

/* .article-user-actions .like-action {
    justify-self: left;
    justify-content: left;
} */

.article-user-actions button {
    outline: none;
}

.article-user-actions img {
    width: 30px;
    height: 30px;
}

.article-action-inactive,
.comment-action-inactive {
    display: none;
}

/* * DISPLAY CHARACCTER buttons */

.display-character button {
    outline: none;
}

.display-character img {
    width: 25px;
    height: 25px;
}

button {
    outline: none;
}

.icon-button img {
    width: 30px;
    height: 30px;
}

.icon-button.block-button img,
.icon-button.delete-button img {
    width: 26px;
    height: 26px;
}

.icon-button {
    margin-top: 2px;
}

.add-article-container button {
    outline: none;
}

/* * Color buttons */

.article-circle {
    /* vertical-align: center; */
    /* box-shadow: 0 0 0 2px transparent; */
    border: 2px solid transparent;
}

.blog-theme-gray.article-circle {
    background-color: rgb(190, 190, 190);
}

.blog-theme-blue.article-circle {
    background-color: rgb(94, 143, 248);
}

.blog-theme-red.article-circle {
    background-color: rgb(255, 113, 113);
}

.blog-theme-yellow.article-circle {
    background-color: burlywood;
}

.blog-theme-green.article-circle {
    background-color: rgb(98, 228, 98);
}

.blog-theme-purple.article-circle {
    background-color: rgb(241, 89, 241);
}

.selected-circle.article-circle {
    border: 2px solid white;
    box-shadow: 0 0 0 2px rgb(196, 196, 196);
}
