/* label {
    display: inline;
} */

/* * Usual inputs */

.usual-input {
    outline: none;
}

.usual-form .usual-label {
    font-size: 18px;
    margin: 15px 0 0 0px;
    display: block;
}

/* .usual-form .usual-input */
.usual-input {
    outline: none;
    display: inline-block;
    margin: 10px 8px 5px 0;
    padding: 7px 10px;
    width: 60%;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
    font-size: 18px;
    color: rgb(58, 58, 58);
}

    /* .usual-form .usual-input:focus */
    .usual-input:focus {
        border: 1px solid burlywood;
        box-shadow: 0 0 0 3px rgb(255, 230, 197);
    }

.usual-form .usual-input-textarea {
    width: 100%;
    min-height: 100px;
    height: 100px;
    max-height: 200px;
}

/* ? Color themes for inputs */

.blog-theme-blue .usual-input:focus {
    border: 1px solid rgb(94, 143, 248);
    box-shadow: 0 0 0 3px rgb(174, 200, 255);
}

/* .blog-theme-red .usual-form .usual-input.usual-input-error {
    border: 1px solid black;
    box-shadow: 0 0 0 3px rgb(185, 185, 185)
} */

.blog-theme-red .usual-input:focus {
    border: 1px solid rgb(255, 113, 113);
    box-shadow: 0 0 0 3px rgb(255, 208, 208);
}

/* ? Theme's definitions END */

/* ? Error's definitions */

/* .usual-form .usual-input.usual-input-error */
/* .usual-input.usual-input-error, */
.usual-form .usual-input.usual-input-error
.root-answer-form.comment-form .input-validation-error,
textarea.input-validation-error,
textarea.comment-input-error,
.usual-input.input-validation-error,
input.input-validation-error {
    color: red;
    border: 1px solid red;
}

    /* .usual-form .usual-input.usual-input-error:focus */
    /* .usual-input.usual-input-error:focus, */
    .usual-input.input-validation-error:focus,
    input.input-validation-error:focus {
        border: 1px solid rgb(255, 113, 113);
        box-shadow: 0 0 0 3px rgb(255, 208, 208);
    }

/* .usual-form .usual-error-message, */
.usual-form .field-validation-error,
form .field-validation-error {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: red;
    margin: 0;
}

.validation-summary-errors {
    color: red;
}

.validation-summary-valid {
    display: none;
}

/* * SEARCH input */
input[type="search"] {
    min-width: 240px;
    width: 100px;
    max-width: 350px;
}

.usual-input-textarea-middle {
    height: 150px;
    min-height: 70px;
    max-height: 500px;
}

.article-text-input {
    width: 100%;
    max-height: 300px;
    height: 300px;
}

/* * OPTIONS page */

.options-content .usual-form .usual-input {
    width: 80%;
}

.add-article-container input.usual-input,
.add-article-container .usual-input-textarea,
.add-article-container .usual-input:focus,
.add-article-container .usual-input-textarea:focus {
    border: none;
    border-color: transparent;
    box-shadow: 0 0 0 0;
    outline: none;
    width: 100%;
    outline-color: transparent;
}

    .add-article-container input.usual-input::placeholder,
    .add-article-container .usual-input-textarea::placeholder {
        font-style: italic;
    }

.add-article-container .usual-input-textarea {
    min-height: 150px;
    height: auto;
    max-height: 300px;
}

.input-center {
    text-align: center;
    width: 100%;
    max-width: 100%;
}

input[type=radio],
input[type=checkbox] {
    margin-right: 5px;
}

select {
    outline: none;
    margin: 5px 0;
    padding: 2px 5px;
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
}

.usual-label.radio-label,
.usual-label.checkbox-label {
    margin: 5px 0;
}

fieldset {
    margin: 0 0 30px 0;
}

legend {
    display: block;
    margin: 5px 0;
}
