ul.article-info {
    list-style-type: disc;
    color: gray;
}

ul.article-info li {
    float: left;
    margin-right: 15px;
    
}

.article-info a {
    color: gray;
}


ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    padding: 6px 0px;
    word-break: break-all;
}

ul.usual-ul {
    padding: 0 20px;
    list-style-type: disc;
}