ul.article-info {
    list-style-type: disc;
    color: gray;
}

ul.article-info li {
    float: left;
    margin-right: 15px;
    
}

.article-info a {
    color: gray;
}


ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    padding: 6px 0px;
    word-break: break-all;
}

ul.usual-ul {
    padding: 0 20px;
    list-style-type: disc;
}

.search-results li {
    border-bottom: 1px solid rgb(230, 230, 230);
}

.search-results.head-search li {
    padding: 8px 20px;
}

.search-results li:last-child {
    border-bottom: none;
}

.search-results li a * {
    margin-left: 4px;
}

.search-results li:hover {
    background-color: rgb(247, 247, 247);
}

.search-results img {
    width: 30px;
    height: 30px;
    vertical-align: text-top;
}

.search-results .user-info-container {
    margin: 0;
}

.search-results a,
.search-results a:hover {
    color: rgb(68, 68, 68);
    text-align: justify;
    display: block;
}

.search-results .user-info-container {
    display: block;
    margin: 0;
    padding: 0;
}

.search-results p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.search-results.verify-result li {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.search-results.verify-result li div:last-child {
    justify-self: end;
    align-self: center;
}