table {
    border-collapse: collapse;
    table-layout: fixed;
}

caption {
    caption-side: top;
}

tr {
    border-bottom: 1px solid rgb(230, 230, 230);
}

tbody tr:last-child {
    border-bottom: none;
}

th {
    font-weight: 500;
}

th,
td {
    padding: 14px 6px;
    word-wrap: break-word;
    vertical-align: top;
}

thead th {
    vertical-align: middle;
}

tbody tr:hover {
    background-color: rgb(247, 247, 247);
}

.verify-result tr td:first-child {
    min-width: 160px;
    max-width: 160px;
}

.verify-result tr td:nth-child(2),
.verify-result tr td:nth-child(3) {
    width: auto;
    min-width: 215px;
}

.verify-result th,
.verify-result td {
    max-width: 170px;
}

table * {
    font-size: 18px;
}

.verify-result a,
.verify-result a:hover {
    color: black;
}