/* * Clearfix */

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}
.clearfix {
	clear: both;
	*zoom: 1;
}

/* Progress bar */

.read-progress {
    width: 100%;
    height: 4px;
    background: lightgray;
    position: sticky;
}

.read-progress-bar {
    width: 0%;
    height: 4px;
    background-color: burlywood;
}

/* ! Themes for progress bar */

.blog-theme-blue .read-progress-bar {
    background-color: rgb(94, 143, 248);
}



#head-container {
    /* border-bottom: 1px solid rgb(219, 219, 219); */
    position: sticky;
    top: 0;
    background-color: white;
}


#menuButton {
    outline: none;
    border: none;
}

.blog-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.5em;
    /* background: gray; */

}

.blog-container article,
.blog-container .page-container,
.sign-container div,
section {
    box-shadow: 0 0 50px rgb(235, 235, 235);
    transition: 0.5s linear;
    /* padding: 100px 80px 120px 80px; */
    /* padding: 40px; */

    /* border-radius: 15px; */
}

.page-container {
    padding: 100px 80px 120px 80px;
}

.blog-container article:hover,
.blog-container .page-container:hover,
.sign-container div:hover,
section:hover {
    box-shadow: 0 0 60px rgb(207, 207, 207);
    /* transition: 0.5s linear; */
}

#topNavigation {
    background-color: white;
    position: sticky;
}

.read-action {
    margin-top: 15px;
}

/* * Article */
/* * Main page */

.article-image {
    /* position: relative; */
    overflow: hidden;
    width: auto;
    min-height: 50px;
    max-height: 400px;
    /* height: 400px; */
}

.article-image img {
    /* position: absolute; */
    /* top: -80%;
    left: -70%; */
    /* right: 30%; */
    /* height: 300px; */
    margin: 0 0 0 0;
    width: 100%;
    object-fit: cover;
}

.blog-content .article-meta {
    margin: 35px 40px;
}

.blog-content .blog-text {
    margin: 35px 40px;
}

/* * Article */
/* * Article page */

.article-page-container .article-meta {
    margin: 100px 80px 40px 80px;
    text-align: center;
}

.article-page-container .article-image {
    height: 80%;
    min-height: 100%;
    max-height: 100%;
    width: 80%;
    margin: 0 auto;
    overflow: visible;
}

.article-page-container .article-image img {
    object-fit: contain;
}

.article-page-container ul.article-info {
    list-style-type: none;
}

.article-page-container ul.article-info li {
    /* margin: 0 auto; */
    text-align: center;
    float: none;
}

.article-page-container .blog-text {
    margin: 35px 80px 70px 80px;
}

.article-user-actions {
    margin: 0 auto 120px auto;
}

.article-page-container .blog-text * {
    text-indent: 60px;
}

.article-circles {
    margin: 0 auto;
    text-align: center;
}

.article-circle {
    content: "";
    height: 18px;
    width: 18px;
    margin-left: 20px;
    border-radius: 50%;
    display: inline-block;

}

.blog-theme-blue .article-circle {
    background-color: rgb(94, 143, 248);
}

/* * Section (Article page) */

section.article-comments {
    padding: 100px 80px;
}

/* .article-comments { */
    /* margin: 100px 80px; */
/* } */

/* * COMMENT section */
/* * IMAGE */

.user-info-container img {
    /* overflow: hidden; */
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    word-break: keep-all;
    /* margin: 0 -10px ; */
    /* text-align: center; */
    /* margin: 0 auto; */
    /* justify-self: center; */
    /* display: block; */
}

.blog-comments .blog-comment {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 0.3em;
    margin-top: 40px;
}

.user-info-container {
    justify-self: center;
    display: inline-block;
    /* margin-top: 10px; */
    margin: 0;
    /* margin: 20px 0; */
}

.text-comment-container .comment-username {
    font-weight: 600;
}

.comment-username {
word-break: break-all;
}

.text-comment-container span {
    text-align: right;
}

.blog-comment-meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.comment-container p {
    font-size: 20px;
    margin: 0;
    padding: 4px 0px;
}

/* * COMMENT ACTIONS container */

.comment-actions-container {
    margin: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.comment-actions-container .comment-reply {
    justify-self: right;
}

.comment-actions-container .comment-hearts-count {
    font-weight: 700;
    font-size: 15px;
}

/* * COMMENT ANSWER container */

.text-comment-container .comment-answer {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-row: 0.5em;
    margin: 20px 0;
    /* border: 1px solid black; */
}

.comment-answer .user-info-container {
    justify-self: left;
    align-self: start;
    margin: 0;
}

.comment-answer .user-info-container img {
    height: 60px;
    width: 60px;
}

form.comment-answer.comment-form {
    align-self: start;
    /* padding-top: 50px; */
}

.answer-form.comment-form .comment-input-textarea {
    width: 100%;
    margin: 0px 0px;
    min-height: 50px;
    max-height: 100px;
    height: 60px;
    border: none;
    font-size: 18px;
    /* margin: 0 10px; */
    /* padding: 0; */
}

.article-comments .answer-form.comment-form {
    margin-top: 0px;
}

.answer-form {
    display: grid;
    grid-template-columns: 17fr 1fr;
    grid-gap: 0.5em;
    /* background-color: lightgray; */
}

.answer-form.comment-form .usual-submit-button {
    /* align-self: center; */
    /* margin-bottom: -20px; */
    margin-top: 15px;
}

/* * ROOT COMMENT answer */

.root-comment-answer {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0 0 60px 0;
}

.root-comment-answer .user-info-container {
    justify-self: center;
}

.root-comment-answer .user-info-container img {
    width: 120px;
    height: 120px;
}

.root-comment-answer .answer-form.comment-form .comment-input-textarea {
    height: 120px;
    max-height: 120px;
}

.article-comments .root-answer-form.comment-form {
    margin: 0;
}


/* * USERS COMMENT COLLECTION */

.users-comment-answer-collection {
    /* background-color: lightgray; */
    margin: 0;
    /* margin: 5px 0; */
}

.users-comment-answer-collection .blog-comment {
    margin: 5px 0;
    grid-template-columns: 1fr 9fr;
}

.users-comment-answer-collection .user-info-container {
    justify-self: left;
}

.users-comment-answer-collection .user-info-container img {
    width: 60px;
    height: 60px;
    justify-self: left;
}

.comment-form .comment-error-message {
    line-height: 1.0;
}

/* * SIGN IN page */

.sign-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 2em;
    /* justify-content: center; */
}

.sign-container div {
    /* background-color: lightgray; */
    /* border: 1px solid rgb(236, 236, 236); */
    background-color: white;
    padding: 67px 0;
    text-align: center;
    width: 100%;
}

.sign-container .usual-submit-button {
    margin: 40px auto 0 auto;
}

.sign-container form.usual-form {
    margin-top: 40px;
}

.sign-container .usual-submit-button {
    width: 30%;
    padding: 10px;
    /* height: 40px; */
}

.sign-container input {
    text-align: center;
}

/* * AUTHOR page */

.author-info-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
    /* background-color: lightgray; */
    justify-items: left;
    margin-bottom: 40px;
}

.author-info-container .user-info-container {
    justify-self: right;
}

.author-info-container .user-info-container img {
    height: 100%;
    width: auto;
    max-height: 200px;
    min-width: 200px;
}

.author-container .subscribe-button {
    margin-bottom: 10px;
    
}

.author-info .usual-button {
    display: inline-block;
    margin-right: 20px;
}

#articlesLink {
    text-align: center;
}

.articles-menu-container {
    margin-top: 20px;
}

/* * FAVOURITES page */

.menu-links-collection a,
.menu-links-collection .active-page {
    display: inline-block;
    margin-right: 25px;

}

.menu-links-collection .active-page {
    color: rgb(184, 184, 184);
    font-size: 34px;
    cursor: default;
}

/* * DISPLAY ARTICLE PARAMETERS */

.display-parameters {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

}

.display-character {
    justify-self: right;
}

.drop-button {
    color: rgb(167, 167, 167);
    padding: 10px 16px 10px 0;
    cursor: pointer;
    outline: none;
}

.display-parameters .drop-menu .drop-button {
    outline: none;
}

.drop-menu {
    display: inline-block;
    position: relative;
}

.display-sort-menu-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 230px;
    border: 1px solid rgb(224, 224, 224);
    color: gray;
    /* right: 0; */
}

.display-sort-menu-content img {
    width: 30px;
    height: 30px;
}

.display-sort-menu-content button {
    display: block;
    outline: none;
    width: 100%;
    padding: 8px 15px;
    text-align: left;
    color: gray;
}

.display-sort-menu-content button:hover {
    color: rgb(97, 97, 97);
}

@media (min-width: 576px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2.5em;
        /* background: gray; */
    }
    
    .blog-container article {
        box-shadow: 0 0 50px rgb(235, 235, 235);
        /* padding: 40px; */
        /* border-radius: 15px; */
    }

    .blog-comment-meta {
        grid-template-columns: 1fr;
    }

    .text-comment-container span {
        text-align: left;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 2.5em;
        /* background: gray; */
    }

    .blog-container article {
        box-shadow: 0 0 50px rgb(235, 235, 235);
        /* padding: 40px; */
        /* border-radius: 15px; */
    }

    .blog-comment-meta {
        grid-template-columns: 1fr 1fr;
    }

    .text-comment-container span {
        text-align: right;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 2.5em;
        /* background: gray; */
    
    }
    
    .blog-container article {
        box-shadow: 0 0 50px rgb(235, 235, 235);
        /* padding: 40px; */
        /* border-radius: 15px; */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2.5em;
        /* background: gray; */
    
    }
    
    .blog-container article,
    .sign-container div {
        box-shadow: 0 0 50px rgb(235, 235, 235);
        /* padding: 40px; */
        /* border-radius: 15px; */
    }
}