/* * Clearfix */

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}
.clearfix::after {
	clear: both;
}
.clearfix {
	clear: both;
	*zoom: 1;
}

/* Progress bar */

.read-progress {
    width: 100%;
    height: 4px;
    background: lightgray;
    position: sticky;
}

.read-progress-bar {
    width: 0%;
    height: 4px;
    background-color: burlywood;
}

/* ! Themes for progress bar */

.blog-theme-blue .read-progress-bar {
    background-color: rgb(94, 143, 248);
}



#head-container {
    /* border-bottom: 1px solid rgb(219, 219, 219); */
    position: sticky;
    top: 0;
    background-color: white;
}


#menuButton {
    outline: none;
    border: none;
}

.blog-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.5em;
    /* background: gray; */

}

.blog-container article,
section {
    box-shadow: 0 0 50px rgb(235, 235, 235);
    transition: 0.5s linear;
    /* padding: 40px; */

    /* border-radius: 15px; */
}

.art:hover,
section:hover {
    box-shadow: 0 0 60px rgb(207, 207, 207);
    /* transition: 0.5s linear; */
}

#topNavigation {
    background-color: white;
    position: sticky;
}

.read-action {
    margin-top: 15px;
}

/* * Article */
/* * Main page */

.article-image {
    /* position: relative; */
    overflow: hidden;
    width: auto;
    min-height: 50px;
    max-height: 400px;
    /* height: 400px; */
}

.article-image img {
    /* position: absolute; */
    /* top: -80%;
    left: -70%; */
    /* right: 30%; */
    /* height: 300px; */
    margin: 0 0 0 0;
    width: 100%;
    object-fit: cover;
}

.blog-content .article-meta {
    margin: 35px 40px;
}

.blog-content .blog-text {
    margin: 35px 40px;
}

/* * Article */
/* * Article page */

.article-page-container .article-meta {
    margin: 100px 80px 40px 80px;
    text-align: center;
}

.article-page-container .article-image {
    height: 80%;
    min-height: 100%;
    max-height: 100%;
    width: 80%;
    margin: 0 auto;
    overflow: visible;
}

.article-page-container .article-image img {
    object-fit: contain;
}

.article-page-container ul.article-info {
    list-style-type: none;
}

.article-page-container ul.article-info li {
    /* margin: 0 auto; */
    text-align: center;
    float: none;
}

.article-page-container .blog-text {
    margin: 35px 80px 120px 80px;
}

.article-page-container .blog-text * {
    text-indent: 60px;
}

.article-circles {
    margin: 0 auto;
    text-align: center;
}

.article-circle {
    content: "";
    height: 18px;
    width: 18px;
    margin-left: 20px;
    border-radius: 50%;
    display: inline-block;

}

.blog-theme-blue .article-circle {
    background-color: rgb(94, 143, 248);
}

/* * Section (Article page) */

section.article-comments {
    padding: 100px 80px;
}

.article-comments {
    /* margin: 100px 80px; */
}

/* * COMMENT section */
/* * IMAGE */

.user-info-container img {
    /* overflow: hidden; */
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    word-break: keep-all;
    /* margin: 0 -10px ; */
    /* text-align: center; */
    /* margin: 0 auto; */
    /* justify-self: center; */
    /* display: block; */
}

.blog-comments .blog-comment {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 0.3em;
    margin-top: 40px;
}

.user-info-container {
    justify-self: center;
    margin-top: 10px;
    /* margin: 20px 0; */
}



.text-comment-container .comment-username {
    font-weight: 600;
}

.comment-username {
word-break: break-all;
}

.text-comment-container span {
    text-align: right;
}

.text-comment-container .comment-username {
    float: left;
}




@media (min-width: 576px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2.5em;
        /* background: gray; */
    
    }
    
    .blog-container article {
        box-shadow: 0 0 50px rgb(235, 235, 235);
        /* padding: 40px; */
        /* border-radius: 15px; */
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 2.5em;
        /* background: gray; */
    
    }
    
    .blog-container article {
        box-shadow: 0 0 50px rgb(235, 235, 235);
        /* padding: 40px; */
        /* border-radius: 15px; */
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 2.5em;
        /* background: gray; */
    
    }
    
    .blog-container article {
        box-shadow: 0 0 50px rgb(235, 235, 235);
        /* padding: 40px; */
        /* border-radius: 15px; */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2.5em;
        /* background: gray; */
    
    }
    
    .blog-container article {
        box-shadow: 0 0 50px rgb(235, 235, 235);
        /* padding: 40px; */
        /* border-radius: 15px; */
    }
}