/* * Clearfix */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    clear: both;
    *zoom: 1;
}

/* Progress bar */

.read-progress {
    width: 100%;
    height: 4px;
    /* background: lightgray; */
    position: sticky;
}

.read-progress-bar {
    width: 0%;
    height: 4px;
    background-color: burlywood;
}

#header-separator {
    height: 1px;
    background-color: lightgray;
}

/* ! Themes for progress bar */

.blog-theme-blue .read-progress-bar {
    background-color: rgb(94, 143, 248);
}

#read-bar-container {
    position: sticky;
    top: 0;
}

#head-container {
    /* position: sticky;
    top: 0; */
    background-color: white;
}

.load-more-container {
    display: grid;
    justify-content: center;
    margin-bottom: 25px;
}

#menuButton {
    outline: none;
    border: none;
}

.blog-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2.5em;
}

    .blog-container article,
    .blog-container .page-container,
    .sign-container div,
    section {
        box-shadow: 0 0 50px rgb(235, 235, 235);
        transition: 0.5s linear;
    }

.page-container {
    padding: 100px 80px 120px 80px;
}

.blog-container article:hover,
.blog-container .page-container:hover,
.sign-container div:hover,
section:hover {
    box-shadow: 0 0 60px rgb(207, 207, 207);
}

#topNavigation {
    background-color: white;
    /* position: sticky; */
}

.read-action {
    margin-top: 15px;
}

/* * Article */
/* * Main page */

.article-image {
    overflow: hidden;
    width: auto;
    min-height: 50px;
    max-height: 400px;
}

    .article-image img {
        margin: 0 0 0 0;
        width: 100%;
        object-fit: cover;
    }

.blog-content .article-meta {
    margin: 35px 40px 20px 40px;
}

.blog-content .blog-text {
    margin: 35px 40px;
}

/* * Article */
/* * Article page */

.article-page-container .article-meta {
    margin: 100px 80px 40px 80px;
    text-align: center;
}

.article-page-container .article-image {
    height: 80%;
    min-height: 100%;
    max-height: 100%;
    /* width: 90%; */
    text-indent: 0px;
    /* max-width: 85%; */
    margin: 15px 0px 15px 60px;
    overflow: visible;
}

    .article-page-container .article-image img {
        object-fit: contain;
    }

.article-page-container ul.article-info {
    list-style-type: none;
}

.article-info {
    /* margin: 0 30px; */
    display: inline-block;
    list-style-type: none;
}

    .article-info li {
        list-style-type: none;
        margin-top: 5px;
        padding: 0 5px;
    }

.article-page-container ul.article-info li {
    text-align: center;
    float: none;
}

.article-page-container .blog-text {
    margin: 35px 80px 70px 80px;
}

.article-user-actions {
    margin: 0 auto 120px auto;
}

.article-page-container .blog-text * {
    text-indent: 60px;
}

.article-page-container .blog-text .article-image {
    text-indent: 0px;
}

.article-circles {
    margin: 0 auto;
    text-align: center;
}

.article-circle {
    content: "";
    height: 35px;
    width: 35px;
    margin-right: 20px;
    border-radius: 50%;
    display: inline-block;
}

    .article-circle:last-child {
        margin-right: 0px;
    }

.blog-theme-blue .article-circle {
    background-color: rgb(94, 143, 248);
}

/* * Section (Article page) */

section.article-comments {
    padding: 100px 80px;
}

/* * COMMENT section */
/* * IMAGE */

.user-info-container img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    word-break: keep-all;
}

.parental .user-info-container img {
    width: 60px;
    height: 60px;
}

.article-comments-collection {
    margin: 40px 0 0 0;
}

.blog-comments .blog-comment {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 0.3em;
    margin-top: 10px;
}

.blog-comment.parental {
    grid-template-columns: 1fr 8fr;
    margin-left: auto;
    margin-right: 0;
}

.blog-comment.parental-1 {
    width: 85%;
}

.blog-comment.parental-2 {
    width: 80%;
}

.blog-comment.parental-3 {
    width: 75%;
}

.blog-comment.parental-4 {
    width: 70%;
}

.blog-comment.parental-5 {
    width: 65%;
}

.user-info-container {
    justify-self: center;
    display: inline-block;
    margin: 0;
}

.text-comment-container .comment-username {
    font-weight: 600;
}

.comment-username {
    word-break: break-all;
}

.text-comment-container span {
    text-align: right;
}

.blog-comment-meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.comment-container p {
    font-size: 18px;
    margin: 0;
    padding: 4px 0px;
}

/* * COMMENT ACTIONS container */

.comment-actions-container,
.comment-change {
    margin: 0px 0 0 0;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

.comment-actions-container {
    margin: 0px 0 5px 0;
}

    .comment-actions-container .comment-reply,
    .comment-change {
        justify-self: right;
    }

    .comment-actions-container .comment-hearts-count {
        font-weight: 700;
        font-size: 15px;
    }

/* * COMMENT ANSWER container */

.text-comment-container .comment-container p {
    word-wrap: break-word;
    word-break: break-all;
}

.text-comment-container .comment-answer {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-row: 0.5em;
    margin: 0;
    padding: 0;
}

.text-comment-container .comment-update-form {
    grid-template-columns: 1fr;
}

.comment-answer .user-info-container {
    justify-self: left;
    align-self: start;
    margin: 0;
}

    .comment-answer .user-info-container img {
        height: 60px;
        width: 60px;
    }

form.comment-answer.comment-form {
    align-self: start;
}

.answer-form.comment-form .comment-input-textarea {
    width: 100%;
    margin: 0px 0px;
    min-height: 50px;
    max-height: 100px;
    height: 60px;
    border: none;
    font-size: 18px;
}

.article-comments .answer-form.comment-form {
    margin-top: 10px;
}

.answer-form {
    display: grid;
}

    .answer-form.comment-form .usual-submit-button {
        margin-top: 15px;
    }

/* * ROOT COMMENT answer */

.root-comment-answer {
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin: 0 0 60px 0;
}

    .root-comment-answer .user-info-container {
        justify-self: center;
    }

        .root-comment-answer .user-info-container img {
            width: 100px;
            height: 100px;
        }

    .root-comment-answer .answer-form.comment-form .comment-input-textarea {
        height: 120px;
        max-height: 120px;
    }

.article-comments .root-answer-form.comment-form {
    margin: 0;
}

/* * USERS COMMENT COLLECTION */

.users-comment-answer-collection {
    margin: 0;
}

    .users-comment-answer-collection .blog-comment {
        margin: 10px 0;
        grid-template-columns: 1fr 9fr;
    }

.update-comment-actions {
    margin-bottom: 10px;
}

.users-comment-answer-collection.comment-not-nested .blog-comment {
    grid-template-columns: 1fr;
}

.users-comment-answer-collection .user-info-container {
    justify-self: left;
}

    .users-comment-answer-collection .user-info-container img {
        width: 60px;
        height: 60px;
        justify-self: left;
    }

.comment-form .comment-error-message {
    line-height: 1.0;
    padding: 0;
}

.blog-comment-meta .comment-time-info {
    text-align: left;
    font-size: 18px;
}

.time-info-utc {
    display: none;
}

.comment-update-form .update-comment-actions button {
    display: inline;
    float: none;
    margin: 0 12px 0 0;
    padding: 6px 18px;
    font-size: 18px;
}

/* * SIGN IN page */

.sign-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 2em;
}

    .sign-container div {
        background-color: white;
        padding: 67px 0;
        text-align: center;
        width: 500px;
        min-height: 600px;
    }

    .sign-container form.usual-form {
        margin-bottom: 20px;
    }

    .sign-container .usual-submit-button {
        margin: 40px auto 0 auto;
    }

    .sign-container form.usual-form {
        margin-top: 40px;
    }

    .sign-container .usual-submit-button {
        width: 30%;
        padding: 10px;
    }

    .sign-container input {
        text-align: center;
    }

/* * AUTHOR page */

.author-info-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
    justify-items: left;
    margin-bottom: 40px;
}

    .author-info-container .user-info-container {
        justify-self: right;
    }

        .author-info-container .user-info-container img {
            height: 100%;
            width: auto;
            max-height: 200px;
            min-width: 200px;
        }

.author-container .subscribe-button {
    margin-bottom: 10px;
}

.author-info .usual-button {
    display: inline-block;
    margin-right: 20px;
}

#articlesLink {
    text-align: center;
}

.articles-menu-container {
    margin-top: 20px;
}

/* * FAVOURITES page */

.menu-links-collection a,
.menu-links-collection .active-page {
    display: inline-block;
    margin-right: 25px;
}

.menu-links-collection .active-page {
    color: rgb(184, 184, 184);
    font-size: 34px;
    cursor: default;
}

/* * DISPLAY ARTICLE PARAMETERS */

.display-parameters {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.display-character {
    justify-self: right;
}

.drop-button {
    color: rgb(167, 167, 167);
    padding: 10px 16px 10px 0;
    cursor: pointer;
    outline: none;
}

.display-parameters .drop-menu .drop-button {
    outline: none;
}

.drop-menu {
    display: inline-block;
    position: relative;
}

.display-sort-menu-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 230px;
    border: 1px solid rgb(224, 224, 224);
    color: gray;
}

    .display-sort-menu-content img {
        width: 30px;
        height: 30px;
    }

    .display-sort-menu-content button {
        display: block;
        outline: none;
        width: 100%;
        padding: 8px 15px;
        text-align: left;
        color: gray;
    }

        .display-sort-menu-content button:hover {
            color: rgb(97, 97, 97);
        }

.add-article-container .article-display-options label {
    margin-right: 18px;
}

.add-article-container div {
    display: inline-block;
}

.server-message {
    margin: 15% auto 0 auto;
    text-align: center;
}

    /* .server-message-text {
    font-size: 1.8em;
} */

    .server-message * {
        margin-bottom: 30px;
    }

.article-info-user img {
    width: 27px;
    height: 27px;
}

@media (min-width: 576px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2.5em;
        /* background: gray; */
    }

        .blog-container article {
            box-shadow: 0 0 50px rgb(235, 235, 235);
            /* padding: 40px; */
            /* border-radius: 15px; */
        }

    .blog-comment-meta {
        grid-template-columns: 1fr;
    }

    .text-comment-container span {
        text-align: left;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 2.5em;
        /* background: gray; */
    }

        .blog-container article {
            box-shadow: 0 0 50px rgb(235, 235, 235);
            /* padding: 40px; */
            /* border-radius: 15px; */
        }

    .blog-comment-meta {
        grid-template-columns: 1fr 1fr;
    }

    .text-comment-container span {
        text-align: right;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 2.5em;
        /* background: gray; */
    }

        .blog-container article {
            box-shadow: 0 0 50px rgb(235, 235, 235);
            /* padding: 40px; */
            /* border-radius: 15px; */
        }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .blog-container {
        margin-top: 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2.5em;
        /* background: gray; */
    }

        .blog-container article,
        .sign-container div {
            box-shadow: 0 0 50px rgb(235, 235, 235);
            /* padding: 40px; */
            /* border-radius: 15px; */
        }
}
