/* * THEMES */
/* * Type color themes */

.blog-theme-yellow a {
    text-decoration: none;
    color: burlywood;
    transition: 0.8 linear;
    /* border-bottom: 1px solid burlywood; */
}

.blog-theme-yellow a:hover {
    color: orange;
    /* border-bottom: 1px solid orange; */
}

.blog-theme-blue a {
    text-decoration: none;
    color: rgb(94, 143, 248);
    transition: 0.8 linear;
    /* border-bottom: 1px solid burlywood; */
}

.blog-theme-blue a:hover {
    color: rgb(17, 93, 255);
    /* border-bottom: 1px solid orange; */
}

/* * Themes for progress bar */

.blog-theme-yellow {
    background-color: burlywood;
}

.blog-theme-blue .read-progress-bar {
    background-color: rgb(94, 143, 248);
}

/* * Circles */

.blog-theme-blue .article-circle {
    background-color: rgb(94, 143, 248);
}

/* * Color themes for inputs */

.blog-theme-yellow .comment-form .comment-input:focus {
    border: 1px solid burlywood;
    box-shadow: 0 0 0 3px rgb(255, 230, 197);
}

.blog-theme-red .comment-input:focus {
    border: 1px solid rgb(255, 113, 113);
    box-shadow: 0 0 0 3px rgb(255, 208, 208);
}

.blog-theme-blue .comment-input:focus {
    border: 1px solid rgb(94, 143, 248);
    box-shadow: 0 0 0 3px rgb(174, 200, 255);
}

/* .blog-theme-red .comment-form .comment-input.comment-input-error {
    border: 1px solid black;
    box-shadow: 0 0 0 3px rgb(185, 185, 185)
} */

/* * Usual inputs */

.blog-theme-yellow .usual-input:focus {
    border: 1px solid burlywood;
    box-shadow: 0 0 0 3px rgb(255, 230, 197);
}

.blog-theme-blue .usual-input:focus {
    border: 1px solid rgb(94, 143, 248);
    box-shadow: 0 0 0 3px rgb(174, 200, 255);
}

.blog-theme-red .usual-input:focus {
    border: 1px solid rgb(255, 113, 113);
    box-shadow: 0 0 0 3px rgb(255, 208, 208);
}

/* * Buttons' theme definitions */

.blog-theme-yellow button.usual-button,
.blog-theme-yellow .usual-submit-button {
    background-color: burlywood;
}

.blog-theme-yellow button.usual-button-reverse {
    background-color: transparent;
    color: burlywood;
    border: 1px solid burlywood;
}

.blog-theme-blue button.usual-button,
.blog-theme-blue .usual-submit-button {
    background-color: rgb(94, 143, 248);
}

.blog-theme-blue button.usual-button-reverse {
    color: rgb(94, 143, 248);
    background-color: transparent;
    border: 1px solid rgb(94, 143, 248);
}

/* * Error's definitions */
/* * Comments' inputs' */

.comment-form .comment-input.comment-input-error {
    border: 1px solid red;
    /* box-shadow: 0 0 0 3px rgb(255, 176, 176); */
    
}

.comment-form .comment-input.comment-input-error:focus {
    border: 1px solid rgb(255, 113, 113);
    box-shadow: 0 0 0 3px rgb(255, 208, 208);
}

.comment-form .comment-error-message {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: red;
    margin: 0;
}

/* * Usual inputs */

