body {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
i {
    font-style: italic;
}

em {
    border-bottom: 1px solid black;
}

b,
strong {
    font-weight: 700;
}

del {
    text-decoration: line-through;
}

h1 {
    font-weight: 700;
    font-size: 54px;
}

h2 {
    font-weight: 600;
    font-size: 47px;
}

h3,
h3 a{
    font-weight: 500;
    font-size: 40px;
}

h4 {
    font-size: 34px;
}

h5,
h5 span {
    font-size: 28px;
}

h6,
p,
a,
span {
    font-size: 22px;
}

small {
    font-size: 12px;
    color: gray;
}

/* ! Color for Usual theme */

a {
    text-decoration: none;
    color: burlywood;
    transition: 0.8 linear;
    /* border-bottom: 1px solid burlywood; */
}

a:hover {
    color: orange;
    /* border-bottom: 1px solid orange; */
}

.top a {
    color: black;
    border-bottom: none;
    /* display: inline; */
}

.blog-info-span {
    color: gray;
}

p {
    padding-top: 8px;
}

h1, h2, h3, h3 a {
    line-height: 1.0;
}

h4, h5 {
    line-height: 1.4;
}

h6, p, a {
    line-height: 1.5;
}

.options-input-container {
    line-height: 1.0;
    padding: 0;
    margin: 0;
}

p {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans', sans-serif;
}

.text-roboto-style,
.text-roboto-style * {
    font-family: 'Roboto Slab', serif;
}

h6.text-roboto-style,
p.text-roboto-style,
p.text-roboto-style *,
a.text-roboto-style {
    font-size: 20px;
}

.text-alegreya-style,
.text-alegreya-style * {
    font-family: 'Alegreya', serif;
}

h1.text-alegreya-style,
h2.text-alegreya-style,
h3.text-alegreya-style,
h4.text-alegreya-style,
h5.text-alegreya-style,
h6.text-alegreya-style {
    font-family: 'Alegreya SC', serif;
}

.text-sans-style {
    font-family: 'Open Sans', sans-serif;
}

h6.text-sans-style,
p.text-sans-style,
p.text-sans-style *,
a.text-sans-style {
    font-size: 20px;
}

.text-mono-style,
.text-mono-style * {
    font-family: 'IBM Plex Mono', monospace;
}

/* ! add small */

/* changing fonts' size for mono font */

h1.text-mono-style {
    font-size: 46px;
}

h2.text-mono-style {
    font-size: 40px;
}

h3.text-mono-style {
    font-size: 46px;
}

h3.text-mono-style {
    font-size: 34px;
}

h4.text-mono-style {
    font-size: 29px;
}

h5.text-mono-style {
    font-size: 24px;
}

h6.text-mono-style,
p.text-mono-style,
p.text-mono-style *,
a.text-mono-style {
    font-size: 18px;
}

/* Article header */

.article-header {
    font-variant: small-caps;
}

.article-header:hover {
    text-decoration: none;
}

.read-action {
    text-align: right;
}

/* ! Type color themes */

.blog-theme-blue a {
    text-decoration: none;
    color: rgb(94, 143, 248);
    transition: 0.8 linear;
}

.blog-theme-blue a:hover {
    color: rgb(17, 93, 255);
}

