@model Miniblog.ViewModels.LoginViewModel

<div class="blog-container">

    <div class="text-sans-style">

        <div class="sign-container">

            <div class="signin-container">
                <h2 class="text-roboto-style">Sign In</h2>

                <form asp-action="SignIn"
                      asp-controller="Account"
                      asp-antiforgery="true" method="post" class="usual-form">

                    <div style="display: none;" asp-validation-summary="All"></div>

                    <label class="usual-label" asp-for="Username"></label>
                    <input class="usual-input usual-input-text" asp-for="Username">
                    <span class="text-sans-style usual-error-message" asp-validation-for="Username"></span>

                    <label class="usual-label" asp-for="Password"></label>
                    <input class="usual-input usual-input-text" asp-for="Password">
                    <span class="text-sans-style usual-error-message" asp-validation-for="Password"></span>

                    <button type="submit" class="usual-submit-button usual-button">Sign In</button>

                    <a class="sign-suggestion" href="@Url.RouteUrl("default", new { controller = "Account", action = "SignUp" })">or Sign Up</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section LoginRegister {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validate/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/query.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"></script>
}