@model RegisterViewModel

@{ 
    ViewBag.Page = "Sign Up";
}

<div class="uk-container uk-width-large">
    <div class="uk-card uk-card-default uk-card-body uk-card-hover">

        <div uk-grid class="uk-flex-center up-flex-middle">
            <div>
                <form asp-action="signup" asp-controller="account" asp-antiforgery="true" method="post" class="uk-width-auto">
                    <fieldset class="uk-fieldset">

                        <legend class="uk-article-title uk-text-secondary uk-text-center">Sign up</legend>

                        <div class="uk-margin uk-form-controls">
                            <label class="uk-text-muted" asp-for="Username"></label>
                            <input class="uk-input show-input-valid" asp-for="Username">
                            <span class="blog-field-validation" asp-validation-for="Username"></span>
                        </div>

                        <div class="uk-margin uk-form-controls">
                            <label class="uk-text-muted" asp-for="Email"></label>
                            <input class="uk-input show-input-valid" asp-for="Email">
                            <span class="blog-field-validation" asp-validation-for="Email"></span>
                        </div>

                        <div class="uk-margin uk-form-controls">
                            <label class="uk-text-muted" asp-for="Password">Password</label>
                            <input class="uk-input show-input-valid" asp-for="Password">
                            <span class="blog-field-validation" asp-validation-for="Password"></span>
                        </div>

                        <div class="uk-margin uk-form-controls">
                            <label class="uk-text-muted" asp-for="PasswordConfirmation">Confirm password</label>
                            <input class="uk-input show-input-valid" asp-for="PasswordConfirmation">
                            <span class="blog-field-validation" asp-validation-for="PasswordConfirmation"></span>
                        </div>

                    </fieldset>

                    <button class="uk-button uk-button-secondary uk-margin uk-align-center" type="submit">Let's start!</button>

                    <a href="@Url.Action("signin", "account")" class="uk-link uk-link-primary uk-text-center uk-align-center">or Sign in</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Validation {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validate/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/query.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"></script>
}