@model IEnumerable<Entity>

@{ 
    ViewBag.Page = ViewBag.Header;
}

<div class="uk-container uk-margin-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-card-hover">
        <div uk-grid>

            @await Html.PartialAsync("~/Views/Options/_OptionsMenuPartial.cshtml")

            <div class="uk-width-expand">
                <h2 class="blog-title">@ViewBag.Header</h2>

                <div class="uk-form-controls uk-margin">
                    <input id="searchInput" oninput="searchEntities(this)" class="uk-input uk-width-large@m" placeholder="Search" type="search">
                </div>

                <table style="visibility: collapse;" id="searchResultsList" class="uk-table uk-table-justify uk-table-divider uk-table-responsive uk-table-hover uk-table-middle">
                    <tbody>
                    </tbody>
                </table>

                <table id="verifyResultsList" class="uk-table uk-table-justify uk-table-divider uk-table-responsive uk-table-hover uk-table-middle">
                    <thead>
                        <tr>
                            <th>Verifiable</th>
                            <th class="uk-width-small"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var entity in Model)
                        {
                            @:<tr data-item-id="@entity.Id" class="verify-result">


                                (string text, string link) = entity switch
                                {
                                    Tag t => (t.Name, ""),
                                    Topic t => (t.Name, ""),
                                    Series s => (s.Name, ""),
                                    _ => throw new NotImplementedException()
                                };

                                <td class="uk-table-link usual-result-item">
                                    <a href="@link" class="uk-link uk-link-reset item-name">@text</a>
                                </td>

                                <td class="uk-width-small">
                                    <button onclick="acceptEntity(this)" class="blog-btn" type="button">
                                        <span uk-icon="check"></span>
                                    </button>
                                    <button onclick="deleteEntity(this)" class="blog-btn" type="button">
                                        <span uk-icon="close"></span>
                                    </button>
                                </td>
                            @:</tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<template id="searchResultsItemsTemplate">
    <tr data-item-id="" class="verify-result">



        <td class="uk-width-small">
            <button onclick="acceptEntity(this)" class="blog-btn" type="button">
                <span uk-icon="check"></span>
            </button>
            <button onclick="deleteEntity(this)" class="blog-btn" type="button">
                <span uk-icon="close"></span>
            </button>
        </td>
    </tr>
</template>

<template id="resultsLinksTemplates">
    <td class="uk-table-link usual-result-item">
        <a href="#" class="uk-link uk-link-reset item-name"></a>
    </td>
</template>

@section Hubs {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/verification/verificationHub.js"></script>
}