@model CheckListViewModel

<div class="uk-container uk-margin-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-card-hover">

        <div uk-grid>

            @await Html.PartialAsync("_OptionsMenuPartial")

            <div class="uk-width-expand">
                <form asp-action="checklists" asp-controller="options" method="post" class="uk-margin-large">
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Check lists</legend>

                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <p class="uk-text-meta">
                                    A list of words separated by a string (it can also be URLs, phone numbers, email addresses, and so on) that will allow the article to be <b>moderated</b>
                                </p>
                                <textarea class="uk-textarea" rows="6" asp-for="ListToCheck"></textarea>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-form-controls">
                                <p class="uk-text-meta">
                                    A list of words separated by a string (it can also be URLs, phone numbers, email addresses, and so on) that make the article <b>blacklisted</b>
                                </p>
                                <textarea class="uk-textarea" rows="6" asp-for="BlackList"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="uk-button uk-button-secondary">Save</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
