@model MainViewModel

@{ 
    ViewBag.Page = "Main";
}

<div class="uk-container uk-margin-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-card-hover">

        <div uk-grid>

            @await Html.PartialAsync("_OptionsMenuPartial")

            <div>
                <form asp-action="main" asp-controller="options" method="post" enctype="multipart/form-data" class="uk-form-horizontal uk-margin-large">
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Main</legend>

                        <div class="uk-margin">
                            <label class="uk-form-label" asp-for="Title"></label>
                            <div class="uk-form-controls">
                                <input class="uk-input" asp-for="Title">
                                <span class="blog-field-validation" asp-validation-for="Title"></span>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" asp-for="Subtitle"></label>
                            <div class="uk-form-controls">
                                <input class="uk-input" asp-for="Subtitle">
                                <span class="blog-field-validation" asp-validation-for="Subtitle"></span>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Icon</label>
                            <div class="uk-form-controls">
                                <img src="@Url.Content(Model.IconPath)" class="uk-border-circle uk-margin uk-margin-top" height="100px" width="100px" alt="icon"/>
                                <br>
                                <div uk-form-custom="target: true">
                                    <input asp-for="IconFile" type="file" accept=".jpg,.jpeg,.png,.ico image/jpeg,image/png,image/x-icon">
                                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                                    <button class="uk-button uk-button-default uk-text-middle">Select</button>
                                    <span class="blog-field-validation" asp-validation-for="IconFile"></span>
                                </div>
                                <br>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Standard user's avatar</label>
                            <div class="uk-form-controls">
                                <img src="@Url.Content(Model.AvatarPath)" class="uk-border-circle uk-margin uk-margin-top" height="100px" width="100px" alt="icon">
                                <br>
                                <div uk-form-custom="target: true">
                                    <input asp-for="AvatarFile" type="file" accept=".jpg,.jpeg,.png,.ico image/jpeg,image/png,image/x-icon">
                                    <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                                    <button class="uk-button uk-button-default uk-text-middle">Select</button>
                                    <span class="blog-field-validation" asp-validation-for="AvatarFile"></span>
                                </div>
                                <br>
                            </div>
                        </div>

                        <button type="submit" class="uk-button uk-button-secondary">Save</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
