button {
    background-color: transparent;
    border: none;
    outline: none;
    color: gray;
}

.drpdown {
    display: inline-block;
    position: relative;
}

.drpdown-content {
    /* display: none; */
    /* position: absolute; */
    z-index: 1;
    /* background-color: white; */
    min-width: 160px;
    
}

.drpdown-content a {
    color: gray;
    display: block;
    text-decoration: none;
}

/* .menu {
    float: right;
} */

