button {
    background-color: transparent;
    border: none;
    outline: none;
    color: gray;
}

.drpdown {
    display: inline-block;
    position: relative;
}

.drpdown-content {
    /* display: none; */
    /* position: absolute; */
    z-index: 1;
    /* background-color: white; */
    min-width: 160px;
    
}

.drpdown-content a {
    color: gray;
    display: block;
    text-decoration: none;
}

/* * Comments */
/* * Comment Form */

.article-comments .comment-form {
    margin-top: 40px;
}

/* * Comments */
/* * Comments input */

.comment-form .comment-label {
    font-size: 18px;
    margin: 15px 0 0 0px;
    display: block;
}

.comment-form .comment-input {
    outline: transparent;
    display: inline-block;
    margin: 5px 8px 2px 0;
    padding: 7px 10px;
    width: 50%;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 4px;
    font-size: 15px;
    color: rgb(58, 58, 58);
}

.comment-form .comment-input:focus {
    border: 1px solid burlywood;
    box-shadow: 0 0 0 3px rgb(255, 230, 197);
}

.comment-form .comment-input-textarea {
    width: 100%;
    min-height: 100px;
    height: 100px;
    max-height: 200px;
    /* margin-bottom: 0; */
}

/* ? Color themes for inputs */

.blog-theme-blue .comment-input:focus {
    border: 1px solid rgb(94, 143, 248);
    box-shadow: 0 0 0 3px rgb(174, 200, 255);
}

/* .blog-theme-red .comment-form .comment-input.comment-input-error {
    border: 1px solid black;
    box-shadow: 0 0 0 3px rgb(185, 185, 185)
} */

.blog-theme-red .comment-input:focus {
    border: 1px solid rgb(255, 113, 113);
    box-shadow: 0 0 0 3px rgb(255, 208, 208);
}

/* ? Theme's definitions END */

/* ? Error's definitions */

.comment-form .comment-input.comment-input-error {
    border: 1px solid red;
    /* box-shadow: 0 0 0 3px rgb(255, 176, 176); */
    
}

.comment-form .comment-input.comment-input-error:focus {
    border: 1px solid rgb(255, 113, 113);
    box-shadow: 0 0 0 3px rgb(255, 208, 208);
}

.comment-form .comment-error-message {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: red;
    margin: 0;
    
    /* color: white;
    background-color: black; */
    /* padding: 5px 8px; */
    /* margin: 0 2px; */
}

/* * BUTTONS' template */

.usual-submit-button {
    background-color: burlywood;
    font-weight: 600;
    text-indent: 1.2;
    color: white;
    border-radius: 5px;
    padding: 12px 26px;
    margin: 30px 0;
    /* letter-spacing: 1px; */
}

/* ? Buttons' theme definitions */

.blog-theme-blue .usual-submit-button {
    background-color: rgb(94, 143, 248);
}

/* ? END */

