table {
    border-collapse: collapse;
    table-layout: fixed;
    /* margin: 0 auto; */
}

caption {
    caption-side: top;
    /* text-align: center; */
}

tr {
   border: 1px solid lightgrey;
}

th {
    font-weight: 500;
}

th,
td {
    padding: 8px 6px;
    width: 100px;
    word-wrap: break-word;
    vertical-align: top;
}

thead th {
    vertical-align: center;
}

thead,
tbody tr:nth-child(even) {
    background-color: rgb(247, 247, 247);
}

/* thead, */
tbody tr:hover {
    background-color: rgb(238, 238, 238);
}

/* tr th:first-child, */
tr td:first-child {
    min-width: 200px;
    max-width: 200px;
    text-align: left;
}

th, td {
    min-width: 35px;
    width: 40px;
    max-width: 170px;
}

