<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title page="@ViewBag?.Page"></title>
    <icon />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    @await Component.InvokeAsync("Header")
    @RenderBody()
    @RenderSection("Scripts", false)
    @RenderSection("Hubs", false)
    <script scr="~/js/datetime.js"></script>
    @RenderSection("Validation", false)
</body>
</html>