@inject ICommon common

@model ListViewModel<Article>

@{
    ListLayoutType layoutType = common.Options.ListOptions.LayoutDefaultType;
    string pageName = Model.PageName.ToLower();
}

@functions {
    string GetUrl(ListSorting sortingType)
    {
        string type = Enum.GetName<ListSorting>(sortingType);
        string pageName = Model.PageName.ToLower();
        return pageName switch
        {
            "account" => Url.Action("account", "users", new { username = Model.ItemName, page = Model.Current, sortby = type }),
            "series" => Url.Action("serieswith", "home", new { name = Model.ItemName, page = Model.Current, sortby = type }),
            "topic" => Url.Action(pageName, "home", new { name = Model.ItemName, page = Model.Current, sortby = type }),
            _ => Url.Action("index", "home", new { listName = pageName, page = Model.Current, sortby = type })
        };
    }
}

@if (Model.PageName is "Topic" or "Series")
{
    <div class="uk-container uk-margin-bottom">
        <h3 class="blog-title">@(Model.PageName + ": " + Model.ItemName)</h3>
    </div>
}

<div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <button class="uk-button uk-button-default" type="button">Sort by</button>
                    <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                            @foreach (ListSorting type in Enum.GetValues<ListSorting>())
                            {
                                string liClass = string.Empty;
                                if (Model.ListSorting == type)
                                    liClass = @"class=""uk-active""";
                                <li @liClass><a href="@GetUrl(type)">@Enums.GetEnumName(type)</a></li>
                            }
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <div class="uk-button-group display-character" data-btn-active="@layoutType">
                        <button id="RowsArticlesLayout" onclick="articlesLayoutVisibility(this)" class="blog-btn" type="button">
                            <img src="~/img/buttons/rows.png" alt="rows" class="blog-btn-img">
                        </button>
                        <button id="GridArticlesLayout" onclick="articlesLayoutVisibility(this)" class="blog-btn" type="button">
                            <img src="~/img/buttons/grid_nonactive.png" alt="grid" class="blog-btn-img">
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
