@model ServerMessage

@if (Model != null)
{
    <div class="server-message text-roboto-style">
        @if (Model.ShowSmile)
        {
            <h2>¯\_(ツ)_/¯</h2>
        }
        @if (Model.StatusCode != default(int))
        {
            <h3>@Model.StatusCode</h3>
        }
        <h3 class="server-message-text">@Model.MessageText</h3>
    </div>
}
else
{
    <div class="server-message text-roboto-style">
        <h2>¯\_(ツ)_/¯</h2>
        <h3>404</h3>
        <h3 class="server-message-text">Not found</h3>
    </div>
}
