@inject IOptionsSnapshot<ListOptions> listOptions

@model ListViewModel<Article>

@{
    ListLayoutType layoutType = listOptions.Value.LayoutDefaultType;

    string GetUrl(ListSorting sortingType)
    {
        string url = "#";
        if(!Model.PageName.Contains(": "))
        {
            string type = Enum.GetName<ListSorting>(sortingType);
            string listName = Model.PageName.ToLower();
            string controller = listName.Equals("account", StringComparison.OrdinalIgnoreCase) ? "users" : "articles";

            url = listName switch
            {
                "account" => Url.Action(listName, controller, new { page = Model.Current, sortby = type }),
                _ => Url.Action("lists", controller, new { listName = listName, page = Model.Current, sortby = type })
            };
        }

        return url;
    }
}

@if (Model.PageName.Contains(": "))
{
    <div class="uk-container uk-margin-bottom">
        <h3 class="blog-title">@Model.PageName</h3>
    </div>
}

<div class="uk-container">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <button class="uk-button uk-button-default" type="button">Sort by</button>
                    <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                            @foreach (ListSorting type in Enum.GetValues<ListSorting>())
                            {
                                string liClass = string.Empty;
                                if (Model.ListSorting == type)
                                    liClass = @"class=""uk-active""";
                                <li @liClass><a href="@GetUrl(type)">@Enums.GetEnumName(type)</a></li>
                            }
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <div class="uk-button-group display-character" data-btn-active="@layoutType">
                        <button id="RowsArticlesLayout" onclick="articlesLayoutVisibility(this)" class="blog-btn" type="button">
                            <img src="~/img/buttons/rows.png" alt="rows" class="blog-btn-img">
                        </button>
                        <button id="GridArticlesLayout" onclick="articlesLayoutVisibility(this)" class="blog-btn" type="button">
                            <img src="~/img/buttons/grid_nonactive.png" alt="grid" class="blog-btn-img">
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
